body {
    background-color: rgb(38, 53, 89);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.center-text {
    text-align: center;
}

.small-text {
    font-size: 10px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}